.container.marketing
  .row
    .col-md-1
    .col-md-10
      %h2
        About Me!

      %h3
        %a{ :href => 'www.wesley-kerr.com' }
          Wesley Kerr
      %p
        Steam Recommender is a side project that I have wanted to do for a long time.  
        We all know that we can visit Steam at any time to get the latest sales and find the 
        newest games, but sometimes we want to find something new to play and the recommendations
        from Steam aren't the greatest.  So, I set out to build a website that will provide a list
        of games that you should play and that you already own (to save you some money) and provide
        you with a list of games that you currently don't own, but you may be interested in purchasing.
      %p
        Steam does not offer revenue sharing or any other kickbacks for pushing any specific game.  
        I am interested in getting you the most accurate recommendations that I can and will constantly
        be tweaking the algorithms to make them better.  If you think of any features that you would like
        to see, please contact me.
      %br
      %br
  .row
    .col-md-1
    .col-md-10
      %div= haml :footer

