.container.marketing
  .row
    .col-md-1
    .col-md-10
      %h2
        We are sorry!
      %p
        We are currently experiencing connection problems with Steam and are uable to access your profile. We recommend checking out the  
        %a{ :href => "http://www.steamrecommender.com/games?order=total_median" }
          popular games
        and try again later to see if steam is accepting our connections again.
      %br
      %br
  .row
    .col-md-1
    .col-md-10
      %div= haml :footer

