%footer
  %p
    %a{ :href => "www.steampowered.com" } Powered by Steam.  
    This site is not affiliated with Valve, Steam, or any of their partners.  All copyrights reserved to their respective owners.
  %p.pull-right
    %a{ :href => "#" }Back to top
  %p
    &copy; seekerr 2013
