.container.marketing
  .row
    .col-md-1
    .col-md-10
      %center
        %h2 Steam Games
      %table{:class => 'table'}
        - @games.each do |game|
          %tr
            %td 
              %a{ :href => "games/#{game.appid}" }= game.appid
            %td
              %a{ :href => "games/#{game.appid}" }= game.title
      .flickr_pagination
        = will_paginate @games, :container => false
      %hr
  .row
    .col-md-1
    .col-md-10
      %div= haml :footer
