.container-fluid
  .row-fluid
    .span6
      %h1 Steam Recommender 
      %p
        Welcome to the Steam Recommender website.  This is a work in progress and a place where eventually you will be able to get personalized recommendations for which games to purchase from Steam or which games to play next that you already own.  Check back often as I will be rolling out new features as I have time.
      %hr

  %br
  %div= haml :footer
