%html
  %head
    %meta{:charset=>"utf-8"}
    %title= @title
    %meta{:name => "description", :content=>""}
    %meta{:name => "author", :content=>"" }
    
    %link{:href=>"http://www.steamrecommender.com/css/pagination.css", :type=>"text/css", :rel=>"stylesheet"}
    %link{:href=>"http://www.steamrecommender.com/css/bootstrap.min.css", :type=>"text/css", :rel=>"stylesheet"}
    %link{:href=>"http://www.steamrecommender.com/css/bootstrap-responsive.min.css", :type=>"text/css", :rel=>"stylesheet"}
    %style body { padding-top: 60px; } 
  %body
    %div= haml :navbar
    %div= yield


