.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle{ "type" => "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => '/'} Steam Recommender
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => '/recomms'}Recommendations
            %li
              %a{:href => '/genres'}Genres
            %li
              %a{:href => '/games'}Games
            %li
              %a{:href => '/about'}About
            %li
              %a{:href => '/contact'}Contact
