.container.marketing
  .row
    .col-md-1
    .col-md-10
      %h2
        We are sorry!
      %p
        The profile you tried to access is currently private and we are unable to access any of the games played.  We recommend checking out the
        %a{ :href => "http://www.steamrecommender.com/games?order=total_median" }
          popular games
        or setting your Steam profile to public so that we can give you personalized recommendations.
      %br
      %br
  .row
    .col-md-1
    .col-md-10
      %div= haml :footer

