:css
  .table td.recomms { 
    text-align: center;
  }
  .table th.recomms, .table td.recomms { 
    border-top: none;
  }
.container
  .row
    .col-md-11
      %ul.nav.nav-tabs{ :id => "myTab" }
        %li.active
          %a{ :href => "#games"} Your Games
        %li
          %a{ :href => "#shouldBuy"} Recommended Purchases
        %li
          %a{ :href => "#shouldPlay"} Recommended to Play
  
  .tab-content
    .tab-pane.active{ :id => "games" }
      .row
        .col-md-1
        .col-md-10
          %p This is a test to see what data shows up
    .tab-pane{ :id => "shouldBuy" }
      .row
        .col-md-1
        .col-md-10
          %p This is test number two to see how things look
    .tab-pane{ :id => "shouldPlay" }
      .row 
        .col-md-1
        .col-md-10
          %p This is the final test and we'll see what happens

  .row
    .col-md-11
      %div{ :id => "example" }
      %div.alert.alert-info{ :id => "page-clicked-event-alert" } 
        %span{ :id => "alert-content" }
          Click on the pages to trigger the page-clicked event

  .row
    .col-md-1
    .col-md-10
      %div= haml :footer

%script{ :src => "js/jquery-1.10.2.min.js" }
%script{ :src => "js/bootstrap.min.js" }
%script{ :src => "js/bootstrap-paginator.js" }
:javascript
  $('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
:javascript
  var options = {
    currentPage: 3,
    totalPages: 10, 
    onPageClicked: function(e, originalEvent, type, page) {
      $('#alert-content').text("Page item clicked, type: " + type + " page: " + page);
    }
  }
  $('#example').bootstrapPaginator(options);

