.container-fluid
  .row-fluid
    .span1 
    .span6
      %form{:action => "recomms_submit" }
        %fieldset
          %legend Get Recommendations
          %label Steam Id
          %input{:type => "text", :name => "steamid", :placeholder => "7656119xxxxxxxxxx", :required => true }
          %button{:type => "submit", "class" => "btn"} Submit
              
      %p
        Enter your unique steam id in order to get personalized recommendations.  If you are not sure
        what your steam id is, then we suggest heading over to 

        %a{ :href => "http://steamidfinder.com" }
          Steam ID Finder

        and tracking down the profile ID (7656119xxxxxxxxx).  With this identifer we are able to see what 
        games you own and what games you have been playing so that we can give you personalized game
        recommendations.  This only works if your profile is public, as I do not have access to any private
        information from your profile.

      %hr

  %div= haml :footer

    
