.container.marketing
  .row
    .col-md-1
    .col-md-10
      %h2
        Thank You!
      %p
        Thanks for contacting us.  We love to hear your thoughts on the website good and bad.  If it is a request for more information or if a follow up is requested, we will get back with you as soon as possible.  
      %br
      %br
  .row
    .col-md-1
    .col-md-10
      %div= haml :footer

