<br /><br />
<div class='container marketing'>
  <div class='span1'></div>
  <div class='span10'>
    <div class='row'>
      <form id='contactForm' ng-submit="sendEmail()">
        <div class='form-group'>
          <input class='form-control' ng-model='name' placeholder='Name' type='text' required>
        </div>
        <div class='form-group'>
          <input class='form-control' ng-model='email' placeholder='Email address' type='email' required>
        </div>
        <div class='form-group'>
          <textarea class='form-control' ng-model='message' placeholder='Your Message' rows='10' required></textarea>
        </div>
        <div class='form-group'>
          <button class='btn btn-primary' id='contact-submit' type='submit'>
            Send
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

