
<div class="container marketing">
  <div class="span2"></div>
  <div class="span8">
    <div class="row">
      <center>
        <h2>{{header}}</h2>
      </center>
      <center>
        <div class="row">
          <div class="span5"></div>
          <div class="span2 text-center" title="Sort by total playtime">
            <a ng-click="getGames('total_playtime')">
              <strong>All Time</strong>
            </a>
          </div>
        </div>
      </center>
      <div class="row">
        <div class="span2"></div>
        <div class="span3 text-left">
          <strong>Title</strong>
        </div>
        <div class="span2 text-right" title="Sort by total playtime">
          <a ng-click="getGames('total_playtime')">
            <strong>Total</strong>
          </a>
        </div>
        <div class="span1 text-right" title="Sort by the total average playtime">
          <a ng-click="getGames('total_median')">
            <strong>Median</strong>
          </a>
        </div>
      </div>

      <game ng-repeat="game in games"></game>
      <center> 
        <pagination boundary-links="true" total-items="gameCount" page="currentPage" class="pagination-small" max-size="maxSize" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" rotate="false" num-pages="pageCount" on-select-page="setPage(page)"></pagination>
      </center> 
      <hr></hr>

    </div>
  </div>
  <div class="row">
    <div class="span1"></div>
    <div class="span10">    
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Steam Recommender -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-5053630439831931"
           data-ad-slot="3692760800"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>
