
<div class="container marketing">
  <div class="span1"></div>
  <div class="span10">
    <div class="row">
      <h2>We are sorry!</h2>
      <p>The profile you are trying to access is currently private and we are unable
      to access any of the games played.  We recommend checking out the 
      <a href="#/games">popular games</a> 
      or setting your Steam profile to public so that we can give show your profile and
      provide personalizerd recommendations</p>
      <br /><br />
    </div>
  </div>
</div>


