
<div>
  <div class="row">
    <div class="span1"></div>
    <div class="span8">
      <center>
        <h2>User Profile</h2>
      </center>
    </div>
  </div>

  <div class="span10">
    <game ng-repeat="game in state.currentData"></game>
    <center> 
      <pagination boundary-links="true" total-items="state.itemCount" page="state.currentPage" items-per-page="20" class="pagination-small" max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" rotate="false" on-select-page="setPage(page)"></pagination>
    </center> 
    <hr></hr>
  </div>
</div>
